.categoryItem {
  cursor: pointer;
  font-size: 16px;
  text-transform: capitalize;
  transition: 0.2s ease;
}

.categoryItem:hover {
  color: #dc3545;             
  border-bottom: 2px solid #dc3545;
  padding-bottom: 2px;
}
